<div class="" id="header">

    <div class="container">
        <nav>
            <img class="logo" src="../../../assets/images/signature.png" alt="logo">
            <ul id="side-bar">
                <li *ngFor="let eachHeader of headerList">
                    <a [href]="eachHeader.id"> {{eachHeader.value}}</a>
                </li>
                <i (click)="showMenu(false)" class="fas fa-times"></i>
            </ul>
            <i (click)="showMenu(true)" class="fas fa-bars"></i>
        </nav>

        <div class="header-text">

            
            <h1>Hello I am <br> <span>Shaayer</span>  Mukherjee</h1>
            <div style="display:flex">
                <p>I am a  &nbsp;</p>
                <ngtypewriter [StringList]='typingList' [speed]='1000'></ngtypewriter>
            </div>
            
       

        </div>
    </div>
</div>

<!-- About Section -->

<div class="" id="about">

    <div class="container">
        <div class="row">
            <div class="about-col-1">
<img src="../../../assets/images/user.png" alt="">
            </div>

            <div class="about-col-2">
                <h1 class="sub-title"> About Me</h1>

                <p> 

                    Shaayer Mukherjee is a passionate photographer based out of Calcutta, India who is passionate about various genres of photography ranging from street to portraits, travel and wedding.He is has won several national and international titles and has been exhibited at various iconic venues He is currently working with Nikon as Official Nikon India Mentor with an overall experience of conducting 50+ workshops with brands like honor, asus , nikon etc

                </p>

                <div class="tab-titles">
                    <p [ngClass]="selectedAbTab==='expertise'?'active-link':''" (click)="setSelectedAboutTab('expertise')" class="tab-links">Expertise</p>
                    <p [ngClass]="selectedAbTab==='experience'?'active-link':''"  (click)="setSelectedAboutTab('experience')" class="tab-links">Experience</p>
                    <p [ngClass]="selectedAbTab==='achievements'?'active-link':''"  (click)="setSelectedAboutTab('achievements')" class="tab-links">Achievements</p>
                </div>

                <div *ngIf="selectedAbTab==='expertise'" class="tab-contents">
                    <ul>
                        <li>
                            <span>Travel Photography</span>
                            <br>Findng stories out of beautiful places
                        </li>
                        <li>
                            <span>Street Photography</span>
                            <br>Unveiling the extraordinary out of ordinary
                        </li>
                        <li>
                            <span>Wedding and Potraits</span>
                            <br>Capturing your special moments to make them immortal
                        </li>
                    </ul>
                </div>

                <div *ngIf="selectedAbTab==='experience'" class="tab-contents">

                    <p>Over the last 7 years , Shaayer has the experience of working with some amazing brands like</p>
                    <div style="display:flex">
                    
                        
                    
                        <ul *ngFor="let eachList of experienceList" class="brands">
                            <li *ngFor="let eachBrand of eachList">
                                <span>{{eachBrand}}</span>
                                
                            </li>
                           
                        </ul>

                      
                    
                    </div>
                </div>

                <div *ngIf="selectedAbTab==='achievements'" class="tab-contents">
                    <ul>
                        <li *ngFor="let eachAchievement of homeScreenDetails.aboutMe.achievement">
                            <span>{{eachAchievement.title}}</span>
                            <br>{{eachAchievement.desc}}
                        </li>
                        
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>


   
<div class="container">
    <h1 class="sub-title"> Brand Collaboration</h1>
    <app-brands [brandImages]="homeScreenDetails.brands"></app-brands>
</div>
<!-- brands section -->



<div class="container">
    <h1 class="sub-title"> Wall of Fame</h1>
    <app-awards [awardList]="homeScreenDetails.aboutMe.achievement"></app-awards>
</div>



 


    <!-- Portfolio -->

    <div class="" id="portfolio">

        <div class="container">
            <h1 class="sub-title">
                My Work   
               </h1>

               <div class="work-list">
                <div *ngFor="let eachWork of homeScreenDetails.work" class="work">
                    <img [src]="eachWork.coverPhoto" alt="" srcset="">

                    <div class="layer">

                        <h3>{{eachWork.title}}</h3>
                        <p>{{eachWork.description}}</p>
                            <a  (click)="goToGallery(eachWork)" class="btn">Explore</a>
                    </div>
                </div>

              

              
               </div>
        </div>
    </div>



          
<!-- Services section -->
<div class="" id="services">
        
    <div class="container">
        <h1 class="sub-title">
            My services   
           </h1>

        <div class="service-list">

            <div *ngFor="let eachService of homeScreenDetails.serviceList">
                <!-- <i class="fa-regular fa-plane"></i> -->
                <h2>{{eachService.title}}</h2>
            
                <p>{{eachService.desc}}</p>


            </div>

          
           
            
        </div>


      

        



      
    </div>
</div>


<!-- Photowalks -->
<div class="container">
    <h1 class="sub-title">Workshops and Photowalks</h1>
    <app-slide-show [pictureList]="homeScreenDetails.photowalks"></app-slide-show>
</div>

    <!-- Contacts -->


    <div id="contact">

        <div class="container">
            <div class="row">
                <div class="contact-left">
                        <h1 class="sub-title">Contact Me</h1>
                        <p>
                            <i class="fas fa-paper-plane"></i>
                            shaayer111@gmail.com</p>
                        <p>
                            <i class="fas fa-phone-square-alt"></i>
                            9903287162</p>
                        <div class="social-icons">
                            <a href="#"></a>

                            <a href="https://www.facebook.com/shaayer">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="https://twitter.com/shaazmukherjee">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                            <a href="https://www.instagram.com/shaayer.mukherjee/">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/shaayer-mukherjee-19a083164/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>

                       
                        
                </div>

                <div class="contact-right">

                    <form name="submit-to-google-sheet">

                        <input type="text" name="Name" placeholder="Enter Your Name" required>
                        <input type="text" name="Email" placeholder="Enter Your Email" required>
                       <textarea name="Message" placeholder="Enter Your Message" rows="6"></textarea>
                       <button type="submit" (click)="captureFormData($event)" class="btn btn-2">Submit</button>
                    </form>

                </div>
            </div>
        </div>

    </div>


    <div class="copyright">
        <p>Copyright © Shaayer Mukherjee 2023. Developed by Shubhayu Dasgupta</p>
    </div>